body {
    font-size: 16px;
    line-height: 1.25;
    background-color: #E3AE80;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#wrap {
    margin: auto;
    width: 70vw;
    border: 3px dashed black;
    background-color: #F5F5DD;
}

h1, ul {
    font-style: italic;
}

h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 3px dashed black;
}

p {
    text-align: justify;
    font-size: 14px;
    margin: 0px;
}

ul {
    margin: 0px;
    list-style-type: none;
}

p, ul {
    padding: 10px 20px;
}

ul li::first-letter {
    font-weight: 400;
    font-size: 1.5em;
}

.copyright {
    margin-top: 10px;
    text-align: center;
}