body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.25;
    background-color: deepskyblue;
}

ul {
    list-style: none;
}

ul li {
    text-align: center;
}

li::first-letter {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}