body {
    width: 70vw;
    background-color: #1B1B32;
    font: normal 16px Helvetica, sans-serif;
    color: whitesmoke;
    line-height: 1.5;
    text-align: center;
    margin: 3rem auto;
}

form {
    margin: 1rem auto;
    width: 80%;
}

hr {
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: cornflowerblue;
}

/* ------------ Form sections ------------ */

section {
    display: flex;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: column;
}

section h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

label {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    text-align: left;
    text-transform: capitalize;
}

#accountTypeSection {
    margin-bottom: 1.5rem;
}

#accountTypeSection p {
    margin: 0.5rem auto;
}

#surveySection label {
    text-align: center;
}

#surveySection select {
    font-size: 0.95rem;
    width: 75%;
    height: 1.55rem;
    margin: 0.5rem auto;
    line-height: 2.5rem;
}

/* ------------ Input areas ------------ */

input {
    text-align: center;
    line-height: 2;
}

input,
textarea {
    margin-bottom: 0.5rem;
    background-color: #0A0A23;
    border: none;
}

/* ------- Input, text and placeholders ------- */

textarea, input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="file"] {
    color: whitesmoke;
    padding: 0.25rem;
    font-size: 0.90rem;
    font-family: inherit;
    border-radius: 0.5rem;
}

textarea, input[type="file"] {
    color: whitesmoke;
    padding: 1rem;
}

input::placeholder, input[type="file"]::placeholder {
    color: cornflowerblue;
    padding: 0.5rem;
    font-style: italic;
    opacity: 95%;
}

textarea::placeholder {
    color: cornflowerblue;
    font-style: italic;
    opacity: 95%;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}

/* Select, Radio and Choice inputs */
#accountTypeInput input[type="radio"], #accountTypeInput label, select, input[type="checkbox"] {
    cursor: pointer;
}

/* ------- Submit button ------- */
button {
    background-color: #0A0A23;
    border-radius: 0.35rem;
    border: 1px #0A0A23 solid;
    padding: 0.75rem 1.5rem;
    color: whitesmoke;
    cursor: pointer;
    font-size: 0.95rem;
}

button:hover {
    color: #0A0A23;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}
